page-home {
    .ion-ios-arrow-forward {
        font-size: 25px;
        color: lightgray;
    }
    .ion-ios-arrow-down {
        font-size: 25px;
        color: lightgray;
    }
    .ion-md-arrow-forward {
        font-size: 25px;
        color: lightgray;
    }
    .ion-md-arrow-down {
        font-size: 25px;
        color: lightgray;
    }
}