<ion-header (load)="resize()" *ngFor="let course of courses">
  <ion-navbar>
    <ion-title text-wrap>
      {{ course.courseName }}
    </ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment padding [(ngModel)]="timetable">
      <ion-segment-button value="monday">
        Mon
      </ion-segment-button>
      <ion-segment-button value="tuesday">
        Tue
      </ion-segment-button>
      <ion-segment-button value="wednesday">
        Wed
      </ion-segment-button>
      <ion-segment-button value="thursday">
        Thu
      </ion-segment-button>
      <ion-segment-button value="friday">
        Fri
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let course of courses">
  <div [ngSwitch]="timetable">
    <ion-list *ngSwitchCase="'monday'">
      <ion-item-group *ngFor="let module of course.Monday" [hidden]="course.hide">
        <ion-item-divider sticky>
          <ion-label>
            {{ module.startTime }}
          </ion-label>
        </ion-item-divider>
  
        <ion-item-sliding #slidingItem [hidden]="course.hide">
  
          <button ion-item>
            <h3 text-wrap>{{ module.moduleName }}</h3>
            <p>
              {{ module.lecturer }}&mdash;
              Room {{ module.room }}
            </p>
          </button>
  
        </ion-item-sliding>
  
      </ion-item-group>
    </ion-list>

    <ion-list *ngSwitchCase="'tuesday'">
        <ion-item-group *ngFor="let module of course.Tuesday" [hidden]="course.hide">
            <ion-item-divider sticky>
              <ion-label>
                {{ module.startTime }}
              </ion-label>
            </ion-item-divider>
      
            <ion-item-sliding #slidingItem [hidden]="course.hide">
      
              <button ion-item>
                <h3 text-wrap>{{ module.moduleName }}</h3>
                <p>
                    {{ module.lecturer }}&mdash;
                    Room {{ module.room }}
                </p>
              </button>
      
            </ion-item-sliding>
      
          </ion-item-group>
    </ion-list>

    <ion-list *ngSwitchCase="'wednesday'">
        <ion-item-group *ngFor="let module of course.Wednesday" [hidden]="course.hide">
            <ion-item-divider sticky>
              <ion-label>
                {{ module.startTime }}
              </ion-label>
            </ion-item-divider>
      
            <ion-item-sliding #slidingItem [hidden]="course.hide">
      
              <button ion-item>
                <h3 text-wrap>{{ module.moduleName }}</h3>
                <p>
                    {{ module.lecturer }}&mdash;
              Room {{ module.room }}
                </p>
              </button>
      
            </ion-item-sliding>
      
          </ion-item-group>
    </ion-list>

    <ion-list *ngSwitchCase="'thursday'">
        <ion-item-group *ngFor="let module of course.Thursday" [hidden]="course.hide">
            <ion-item-divider sticky>
              <ion-label>
                {{ module.startTime }}
              </ion-label>
            </ion-item-divider>
      
            <ion-item-sliding #slidingItem [hidden]="course.hide">
      
              <button ion-item>
                <h3 text-wrap>{{ module.moduleName }}</h3>
                <p>
                    {{ module.lecturer }}&mdash;
                    Room {{ module.room }}
                </p>
              </button>
      
            </ion-item-sliding>
      
          </ion-item-group>
    </ion-list>

    <ion-list *ngSwitchCase="'friday'">
        <ion-item-group *ngFor="let module of course.Friday" [hidden]="course.hide">
            <ion-item-divider sticky>
              <ion-label>
                {{ module.startTime }}
              </ion-label>
            </ion-item-divider>
      
            <ion-item-sliding #slidingItem [hidden]="course.hide">
      
              <button ion-item>
                <h3 text-wrap>{{ module.moduleName }}</h3>
                <p>
                    {{ module.lecturer }}&mdash;
              Room {{ module.room }}
                </p>
              </button>
      
            </ion-item-sliding>
      
          </ion-item-group>
    </ion-list>
  </div>
</ion-content>